%contenedor{
    min-height: 300px;
    background-color: lightblue;
    display: flex;
    align-items: flex-start;
}
%capaHija{
    padding: 20px;
    margin: 10px;
    font-size: 1.5rem;
    background-color: lightcyan;
}
.contenedorFlex{
    @extend %contenedor;
    >div{
        @extend %capaHija;
    }
}